name: Publish

on:
  push:
    branches:
      - production

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: '14.x'
      - run: npm config set //registry.npmjs.org/:_authToken=${{ secrets.NPM_TOKEN }}
      - run: npm ci
      - run: npm i @zattoo/zploy@1.0.0-rc.0 -g
      - run: npm run build
      - run: zploy --gh_token=${{ secrets.GH_TOKEN }} --npm_token=${{ secrets.NPM_TOKEN }}
